/*<style>*/
body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif;}
body, html {
  height: 100%;
  color: #777;
  line-height: 1.8;
}

/* Create a Parallax Effect */
.bgimg-1, .bgimg-2, .bgimg-3 {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* First image (Logo. Full height) */
.bgimg-1 {
  background-image: url('do2.jpg');
  height: 100%;
  width: 100%;
}

/* Second image (Portfolio) */
.bgimg-2 {
  background-image: url("do.jpg");
  min-height: 400px;
}

/* Third image (Contact) */
.bgimg-3 {
  background-image: url("do5.jpg");
  min-height: 400px;
}

.w3-wide {letter-spacing: 10px;}
.w3-hover-opacity {cursor: pointer;}

/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1600px) {
   .bgimg-1,.bgimg-2, .bgimg-3 {
    background-attachment: scroll;
    min-height: 400px;
  }


}


/*</style>*/
.c{
  margin-left: 1%;
  margin-top: 4%;
   height:150px; 
   width:300px;
   
   
}
.head{
margin-top: 10%;
  text-align: center;
  font-size: 70px;
    background: -webkit-linear-gradient(#ffff00, #ff6600);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

}
.i{
  font-size: 20px;
  margin-left: 9%;
  margin-top: 0;
}
@media only screen and (max-device-width: 767px){


  .bgimg-1{
     background-image: url('do1.png');
      background-attachment: scroll;
    
  }
  .c{
    margin-top: 17%;
    height: 90px;
    width: 120px;
  }
  .head{
    font-size: 35px;
    margin-top: 50%;
  }
  .i{
    font-size: 15px;
    margin-left: 2%;
  }
}